<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Little Shop of Horrors!</h1>
    <p class="lead">A shop full of terrifying plants in need of food and a good owner, sometimes those are the same thing...</p>
  </div>
</div>