.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 90vw;
  margin: 0 auto;
}

.stats-title {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
}

.stats-info {
  width: 15rem;
  padding: 10px;
  margin-top: 3rem;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}

.merchants {
  width: 90vw;
  margin: 3rem auto;
}